.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    width: 277px;
    height: 380px;
   
}
img {
    width:277px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;

}