
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bowlby+One&family=Dancing+Script:wght@600&family=Jockey+One&family=Lora&family=Merriweather+Sans:ital,wght@0,300;1,600&family=Press+Start+2P&family=Righteous&family=Rubik+Storm&display=swap');



body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6DBD7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
